<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Poppins:wght@400;500;700&family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet">

</head>

<body style=" width: 800px;height: auto;margin: auto;top: 0px;left: 0px;">


    <div style=" text-align: center;background-color: #F5F5F5;margin: auto;padding-top: 101px;">

        <div style=" background-color: #FFFFFF;border-radius: 8px;padding: 48px;width: 650px;margin: auto;height: 923px;">
            <!-- Add Logo -->
            <div style="margin: 32px 0;top: 160px;">
                <img src="https://client-server-public-assets.s3.amazonaws.com/server/assets/MicrosoftTeams-image+(6).png" alt="logo">
            </div>
            <div style="margin: 32px 0;top: 286px;">
                <img src="https://client-server-public-assets.s3.amazonaws.com/server/assets/MicrosoftTeams-image+(5).png" alt="logo">
            </div>


            <div>
                <div>
                    <div style=" top: 416px;padding: 27px;text-align: center;font-family: 'Poppins',sans-serif !important;margin: auto;color: #354052;opacity: 100%;line-height: 52px;font-size: 36px;font-weight: 700;">
                        Verify your e-mail to finish signing up
                    </div>
                    <div style="padding: 10px;top: 549px;text-align: center;font-family: 'Poppins',sans-serif !important;margin: auto;color: #354052;opacity: 100%;line-height: 26px;font-size: 18px;">
                        Thank you for choosing to reframe engage <br><br> Please confirm that {{userEmail}} is your email address by clicking the button below

                        <div style="font-weight:bold; line-height: 80px;  padding-bottom: 58px;">This Invitation will expire within 12 hours</div>
                    </div>
                    <div>
                        <button style="font-family: 'Poppins',sans-serif !important;width: 500px;height: 65px;top: 762px;cursor: pointer;background-color: #2A3278;color: #FFFFFF;line-height: 25px;font-size: 24px;text-align: center;border-radius: 4px; font-weight:600"> Verify </button>
                    </div>

                    <div style=" top: 893px;padding-top: 58px;text-align: center;font-family: 'Source Sans Pro',sans-serif !important;margin: auto;color: #354052;opacity: 50%;line-height: 32px;font-size: 22px;">If the link above is not working, <a href="{{surveyLink}}" style="color:#2D91D1; text-decoration:underline ; cursor:pointer;">click here</a></div>
                    <div style=" top: 937px;text-align: center;font-family: 'Source Sans Pro',sans-serif !important;margin: auto;color: #354052;line-height: 35px;font-size: 24px;font-weight: bold;">Already activated? <a href="{{surveyLink}}" style="color:#2D91D1; text-decoration: none; cursor:pointer;">Sign In</a></div>
                </div>
            </div>

        </div>

        <div style="padding:48px; color:#354052">
            <div style="margin: 16px 0;">
                <div style="margin:16px 0; line-height: 28px; font-weight: bold; font-size: 42px;font-family: 'Source Sans Pro',sans-serif !important;">
                    We’d love to hear from you!
                </div>

                <div style=" margin:24px 0; line-height: 32px; font-size:20px;; font-weight: 300; ">
                    If you have any questions please contact our
                    <a href="{{surveyLink}}" style="color:#2D91D1; text-decoration:underline ; cursor:pointer;">Client Care Team.</a>
                </div>
            </div>

            <div style="text-align: center; margin:16px; margin-top:48px;margin-bottom:48px;">
                <a href="{{facebookLink}}" style="margin: 0 16px; font-size: 22px; text-decoration: none; color:#354052; cursor:pointer;">
                    <img src="https://client-server-public-assets.s3.amazonaws.com/server/assets/MicrosoftTeams-image+(10).png" alt="Facebook Icon">
                </a>
                <a href="{{linkedinLink}}" style="margin: 0 16px; font-size: 22px; text-decoration: none; color:#354052; cursor:pointer;">
                    <img src="https://client-server-public-assets.s3.amazonaws.com/server/assets/MicrosoftTeams-image+(13).png" alt="LinkedIn Icon">
                </a>
                <a href="{{instagramLink}}" style="margin: 0 16px; font-size: 22px; text-decoration: none; color:#354052; cursor:pointer;">
                    <img src="https://client-server-public-assets.s3.amazonaws.com/server/assets/MicrosoftTeams-image+(12).png" alt="Instagram Icon"></a>
            </div>

            <div style="margin:16px;">
                <div style="font-family:'Maven Pro' ,sans-serif !important;font-size:12px; line-height: 18px;width: 566px;margin:auto;color:#707070">
                    The content of this message is confidential. If you have received it by mistake, please inform us by an email reply and then delete the message. It is forbidden to copy, forward, or in any way reveal the contents of this message to anyone. View our full
                    Terms and Privacy Policy <a href="{{surveyLink}}" style="color:#2D91D1; text-decoration:underline ; cursor:pointer;">here.</a>
                </div>
            </div>


            <div style="margin:auto;width:566px">
                <div style=" line-height: 25px;opacity: 1;font-size: 16px;text-align: center;color: #354052;font-family: 'Source Sans Pro',sans-serif !important;">
                    Copyright &#169; 2022 <span style="font-weight:bold;">WSD Digital, LLC.</span> All Rights Reserved.
                </div>
                <div><span style="font-weight:bold;">info@wsddigital.com.</span></div>
            </div>
        </div>
    </div>


</body>


</html>